body{
    background: linear-gradient(#DFDFDF, #E7CB8C);
    font-family: 'Montserrat', sans-serif;
}

h1, h3{
    color: #784B6A;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;;
}

h2, h3, h4, h5 {
    color: #161616;
}

.lista{
    background-color: #BD93B0;  
    text-align: center;
    border: 1px solid #161616
}

.foto{
    width: 250px;
    /colocar no centro
}

.centro{
    text-align: center;
    color: #161616;
}

.corlistahab{
    color: #161616;
    }

.centralizacao{
    width: 40%;
}

li:hover{
    background-color: BD93B0;
    }