body{
    background: linear-gradient(#E7CB8C, #DFDFDF);
}

h1{
    color: #784B6A;
    font-style: italic;
    text-align: center;
}

h2, h3, h4, h5 {
    color: #161616;
}

.lista{
    background-color: #BD93B0;  
    text-align: center;
}

.foto{
    width: 250px;

}

.centro{
    text-align: center;
}

